/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, a, 
del, dfn, em, img,
small, strong,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, section, summary
 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
{
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    color: #666;
    outline: 0 none;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
fieldset, img {
    border: medium none;
}
button, input, select, textarea {
    font-size: 100%;
    outline: medium none;
}
.fl { float: left; }
.fr { float: right; }
.posa { position: absolute; }
.posr { position: relative; }
.hide{display: none !important;}
.clearfix:after {
    clear: both;
    content: "\200B";
    display: block;
    height: 0;
}
.clearfix{*zoom:1;}
body{
    font-family:"Microsoft YaHei",Helvetica,Arial,sans-serif;
    font-size:16px;
    line-height:1.5;
    color:#4c4c4c;
    background-color:#fff
}